#theme-switcher {
    position: fixed;
    right: 1em;
    top: 1em;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.theme {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
    border: 1px solid;
}

.theme:hover {
    height: 33px;
    width: 33px;
}

#theme-dark {
    background-color: #000;
}

#theme-light {
    background-color: #fff;
}